.IntroPage_body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #66757F;
}
.IntroPage_body_h1 {
    font-size: 50px;
    color: #FFFFFF;
    margin: 0px;
}
.IntroPage_body_texts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.IntroPage_body_p {
    margin: 0;
    color: #FFFFFF;
    font-size: 25px;
}
.IntroPage_body_btn {
    background-color: #FF9900;
    color: #292F33;
    width: 200px;
}





/* ขนาดหน้าจอไม่เกิน คือ 1200 px */
@media (max-width: 1300px) {
    .IntroPage_body_h1 {
        font-size: 50px;
    }
    .IntroPage_body_p {
        font-size: 27px;
    }
}
/* ขนาดหน้าจอไม่เกอน คือ 750 px */
@media (max-width: 750px) {
    .IntroPage_body_h1 {
        font-size: 40px;
    }
    .IntroPage_body_p {
        font-size: 25px;
    }
}
/* ขนาดหน้าจอไม่เกิน คือ 600 px */
@media (max-width: 600px) {
    .IntroPage_body_h1 {
        font-size: 35px;
    }
    .IntroPage_body_p {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .IntroPage_body_h1 {
        font-size: 33px;
    }
    .IntroPage_body_p {
        font-size: 13px;
    }
}